psycopg2-binary
Flask==3.0.1
Werkzeug==3.0.1
gunicorn
waitress
python-geohash
Geohash
flask-cors
flask-login
flask-wtf
email-validator
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.25
sqlalchemy-cockroachdb==2.0.1

