<!DOCTYPE html>
<html>
<head>
	<title>CockroachDB Geo Tourist</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/static/leaflet.css"/>
  <link rel="stylesheet" href="/static/leaflet.contextmenu.css"/>
  <script src="/static/leaflet.js"></script>
  <script src="/static/leaflet.contextmenu.js"></script>
  <script src="/static/jquery-3.7.1.min.js"></script>
  <script src="/static/geolocate.js"></script>
  <link rel="icon" type="image/png" href="/static/crl-32x32.png" sizes="32x32">

  <style>
    body {
      padding: 0;
      margin: 0;
    }
    html, body, #mapid {
      height: 100%;
      width: 100%;
    }
    #loginButton {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px;
      z-index: 400;
    }
    .button {
      /* background-color: #6933FF; */
      background-color: #0D6EFD;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
    }
  </style>
</head>

<body onload="setInitialView();">

  <div id="mapid"></div>
  <button id="loginButton" class="button"
  {% if current_user.is_authenticated %}
  onClick="location.assign('/logout');">Logout <em>{{ current_user.username }}</em>
  {% else %}
  onClick="location.assign(genUrlWithCoords('/login'));">Log In / Sign Up
  {% endif %}
  </button>

<script>
  // Type of amenity (pub, cafe, bar, restaurant, ...)
  var amenityTypes = ["restaurant", "pub", "cafe", "bar"];
  var amenity = amenityTypes[Math.floor(Math.random() * amenityTypes.length)];
  var urlParams = new URLSearchParams(window.location.search);
  var lat, lon;
  if (urlParams) {
    var myParam = urlParams.get("amenity");
    if (myParam && myParam.length > 0) {
      amenity = myParam;
    }
    // The lat, lon values are used to restore the tourist's location after editing an amenity
    myParam = urlParams.get("lat");
    if (myParam && myParam.length > 0) {
      lat = myParam;
    }
    myParam = urlParams.get("lon");
    if (myParam && myParam.length > 0) {
      lon = myParam;
    }
  }

  var allMarkers = [];
  function getFeatures(pos, amenity)
  {
    for (var i = 0; i < allMarkers.length; i++)
    {
      mymap.removeLayer(allMarkers[i]);
    }
    allMarkers = [];
    // This is where I'm located
    var m =  L.marker(pos, {icon: personIcon});
    allMarkers.push(m);
    m.addTo(mymap).bindPopup("<b>Show me the closest " + amenity + "s!</b>").openPopup();
    //console.log("lat: " + pos.lat + ", lon: " + pos.lng);

    // Add data points
    $.ajax ({
    url: "/features",
    type: "POST",
    data: JSON.stringify({ "amenity": amenity, "lat": pos.lat, "lon": pos.lng}),
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    success: function(data) {
      data.forEach(function(obj) {
        m = L.marker([obj.lat, obj.lon], {icon: iconMap.get(amenity)});
        var msg = "<b>" + obj.name + "</b><br/>" + obj.dist_m + " meters" + "<br/>" + obj.rating;
        var p = L.popup({autoPan: false}).setContent(msg);
        m.addTo(mymap).bindPopup(p);
        allMarkers.push(m);
      })
      }
    });
  }

  // FIXME: is there a way to pass parameter in?
  function setPub(e)
  {
    amenity = "pub";
    getFeatures(mymap.getCenter(), amenity);
  }

  function setRestaurant(e)
  {
    amenity = "restaurant";
    getFeatures(mymap.getCenter(), amenity);
  }

  function setCafe(e)
  {
    amenity = "cafe";
    getFeatures(mymap.getCenter(), amenity);
  }

  function setBar(e)
  {
    amenity = "bar";
    getFeatures(mymap.getCenter(), amenity);
  }

  var mymap = L.map('mapid' , {
    contextmenu: true,
      contextmenuWidth: 100,
	      contextmenuItems: [{
		      text: 'Pubs',
		      callback: setPub
	      }, {
		      text: 'Restaurants',
		      callback: setRestaurant
	      }, {
		      text: 'Cafes',
		      callback: setCafe
	      }, {
		      text: 'Bars',
		      callback: setBar
	      }]
  });

  /*
   * TODO: add realtime geo location
   * https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/watchPosition
   */

  // A set of places where the map will intially be centered, since it's a simulation and not based
  // on the actual position of the user.  These points come from the /sites endpoint of map_app.py.
  function setInitialView() {
    $.get("/sites", function(data) {
      pt = L.latLng(data);
      // lat and lon could have been provided at HTTP GET parameters:
      // http://localhost:8080/?amenity=pub&lat=48.1363729&lon=11.579688
      if (lat && lon) {
        pt = L.latLng(lat, lon);
      }
      console.log("Tourist location: " + pt);
      mymap.setView(pt, 16);
      getFeatures(pt, amenity);
    });
  }

  var personIcon = L.icon({
    iconUrl: '/static/person_icon.png',
    iconSize:     [36, 68],
    iconAnchor:   [32, 0], // point of the icon which will correspond to marker's location
    popupAnchor:  [11, 11] // point from which the popup should open relative to the iconAnchor
  });

  var pubIcon = L.icon({
    iconUrl: '/static/pub_icon.png',
    iconSize:     [24, 28],
    iconAnchor:   [0, 0],
    popupAnchor:  [2, 2]
  });

  var barIcon = L.icon({
    iconUrl: '/static/bar_icon.png',
    iconSize:     [24, 28],
    iconAnchor:   [0, 0],
    popupAnchor:  [2, 2]
  });

  var cafeIcon = L.icon({
    iconUrl: '/static/cafe_icon.png',
    iconSize:     [24, 28],
    iconAnchor:   [0, 0],
    popupAnchor:  [2, 2]
  });

  var restaurantIcon = L.icon({
    iconUrl: '/static/restaurant_icon.png',
    iconSize:     [24, 28],
    iconAnchor:   [0, 0],
    popupAnchor:  [2, 2]
  });

  let iconMap = new Map();
  iconMap.set("pub", pubIcon);
  iconMap.set("bar", barIcon);
  iconMap.set("cafe", cafeIcon);
  iconMap.set("restaurant", restaurantIcon);

  // Add base map
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '<a href="https://www.cockroachlabs.com/docs/stable/query-spatial-data">CockroachDB</a> | ' +
      'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
  }).addTo(mymap);

  // Fires when map stops moving
  mymap.on("moveend", function () {
    var coords = mymap.getCenter();
    // Set these two global variables
    lat = coords.lat;
    lon = coords.lng;
    console.log("lat: " + coords.lat + ", lon: " + coords.lng);
    getFeatures(mymap.getCenter(), amenity);
  });

  function genUrlWithCoords(baseUrl)
  {
    return baseUrl + "?lat=" + lat + "&lon=" + lon;
  }

  // Add checkbox to control sharing of location
  var command = L.control({position: 'topleft'});
  command.onAdd = function (mymap) {
    var div = L.DomUtil.create('div', 'command');
    div.innerHTML =
      '<form>'
      + '<input id="command" type="checkbox" onchange="setGeoMonitor(this)"/>'
      + '<b>Enable realtime location?</b>'
      + '</form>'
      + '<div id="message"></div>';
    return div;
  };
  command.addTo(mymap);

</script>
</body>
</html>

